@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000000;
}

.container-buttons {
    margin: 30px 0;
    display: flex;
    justify-content: center; /* Horizontal */
    align-items: center; /* Vertical */
    gap: 20px; /* Só é possível usar com o display flex */
}

button {
    background-color: #79cb15;
    border: none;
    border-radius: 5px;
    color: #000000;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 110px;
}

button:hover {
    opacity: 0.8;
}

ul {
    list-style: none;
    display: grid; /* consigo dizer quantas linhas e colunas eu quero no meu layout */
    /* 3 colunas de 200px */
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
    justify-content: center;
}

li {
    border: 2px solid #8133ff;
    border-radius: 5px;
    padding: 5px;
}

img {
    width: 100%;
    border-radius: 5px;
}

p {
    color: #FFFFFF;
}

.item-price {
    color: #79cb15;
}